@charset "utf-8";
@import './reset.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 유틸리티 */
/* 스크린리더 */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
    color: #FFF;
    background-color: #F2F2F2;
}

button, input {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* 버튼 공통 스타일 */
button {
    background: none;
    box-sizing: border-box;
    height: 40px;
    border: 2px solid #956BD9;
    border-radius: 30px;
    color: #956BD9;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

/* 배경색이 있는 버튼은 fill 클래스 추가 */
button.fill {
    border: none;
    background: #956BD9;
    color: #FFF;
}

@media all and (max-width: 480px) {
    button {
        height: 36px;
        font-size: 12px;
    }
}